$color-blue: hsl(223, 87%, 63%);
$color-pale-blue: hsl(223, 100%, 88%);
$color-light-red: hsl(354, 100%, 66%);
$color-gray: hsl(0, 0%, 59%);
$color-very-dark-blue: hsl(209, 33%, 12%);
$color-light: white;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Libre Franklin, sans-serif;
}

body {
    background-color: $color-light;
    padding-top: 2rem;
    min-width: 100vw;
    min-height: 100vh;
}

.wrapper {
    position: relative;
    max-width: 350px;
    height: 100vh;
    margin: 0 auto;
}

a {
    all: unset;
    cursor: pointer;    
} 