.img__logo {
    display: block;
    margin: 0 auto;
}

h2 {
    letter-spacing: .1rem;
    font-weight: 300;
    color: $color-gray;
    margin-top: 1.6rem;
    margin-bottom: .8rem;

    span {
        font-weight: 700;
        color: $color-very-dark-blue;
        letter-spacing: initial;
    }
}

p {
    font-size: .8rem;
}

form {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;

    input {
        border-radius: 50px;
        border: 1px solid $color-gray;
        padding: .8rem 1.2rem;
        margin-bottom: 8px;
    }

    button {
        font-weight: 300;
        color: $color-light;
        border-radius: 50px;
        border: none;
        padding: .8rem 1.2rem;
        background-color: $color-blue;
        box-shadow: 1px 5px 20px $color-blue;
    }
}

h2, p {    
    text-align: center;
}

.img__dashboard {
    display: block;
    margin-top: 2rem;
    max-width: 100%;
}