.img__logo {
    display: block;
    margin: 0 auto;
    width: 50px;
}

h2 {
    font-weight: 300;
    color: $color-gray;
    margin-top: 1.6rem;
    margin-bottom: .8rem;

    span {
        font-weight: 700;
        color: $color-very-dark-blue;
        letter-spacing: initial;
    }

    @media screen and (min-width: $break-desktop) {   
        font-size: 2rem;
    } 
}

p {
    font-size: .8rem;
}

form {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;

    input {
        width: 68%;
        border-radius: 50px;
        border: 1px solid $color-gray;
        padding: .8rem 1.2rem;
        margin-bottom: 8px;

        &:focus {
            border: 1px solid $color-blue;
            outline: 0;
        }

        @media screen and (min-width: $break-desktop) {   
            margin-bottom: 0;
        } 
    }

    button {
        width: 30%;
        font-weight: 300;
        color: $color-light;
        border-radius: 50px;
        border: none;
        padding: .8rem 1.2rem;
        background-color: $color-blue;
        box-shadow: 0px 8px 20px -10px $color-blue;   
        
        &:hover {
            background-color: lighten($color-blue, 10);
        }
    }

    @media screen and (min-width: $break-desktop) {   
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    } 
}

.footer {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    bottom: 0;

    &__social {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        color: $color-blue;

        &-icon {
            margin-right: .6rem;
            border-radius: 50%;
            border: 1px solid $color-pale-blue;
            padding: 5px;

            &:hover{
                background-color: $color-blue;
                color: $color-light;
            }
        }
    }

    &__copyright {
        display: inline-block;
        width: 100%;
        font-size: .6rem;
        color: $color-gray;
        text-align: center;
    }
}

h2, p {    
    text-align: center;
}

.img__dashboard {
    display: block;
    margin-top: 2rem;
    max-width: 100%;
}